<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %> </title>
    <%- include('../partials/head'); %>
</head>
<header>
    <%- include('../partials/header', {variant: 'compact' }); %>
</header>

<body>



    <main>
        <div class="row p-5">
            <!-- <div class="col-sm-8">
                
            </div> -->

            <div class="col-sm-12">
                <div class="jumbotron">
                    <h1>This is great</h1>
                    <p>Welcome to templating using EJS</p>
                </div>
                <div class="well">
                    <h3 class="text-center">Look I'm a paragraph!</h3>
                    The EJS partial has access to all the same data as the parent view. But be careful. If you are
                    referencing a
                    variable in a partial, it needs to be defined in every view that uses the partial or it will throw
                    an error.

                    You can also define and pass variables to an EJS partial in the include syntax like this:

                    In this article, you learned how to apply EJS to an Express application, include repeatable parts of
                    your
                    site, and pass data to the views.

                    EJS lets you build applications when you do not require additional complexity. By using partials and
                    having
                    the ability to easily pass variables to your views, you can build some great applications quickly.

                    Consult the EJS documentation for additional information on features and syntax. Consult Comparing
                    JavaScript Templating Engines: Jade, Mustache, Dust and More for understanding the pros and cons of
                    different view engines.
                </div>
                <div class="well">
                    <h3 class="pt-5">Look I'm a paragraph too!</h3>
                    The EJS partial has access to all the same data as the parent view. But be careful. If you are
                    referencing a
                    variable in a partial, it needs to be defined in every view that uses the partial or it will throw
                    an error.

                    You can also define and pass variables to an EJS partial in the include syntax like this:

                    In this article, you learned how to apply EJS to an Express application, include repeatable parts of
                    your
                    site, and pass data to the views.

                    EJS lets you build applications when you do not require additional complexity. By using partials and
                    having
                    the ability to easily pass variables to your views, you can build some great applications quickly.

                    Consult the EJS documentation for additional information on features and syntax. Consult Comparing
                    JavaScript Templating Engines: Jade, Mustache, Dust and More for understanding the pros and cons of
                    different view engines.
                </div>
            </div>

        </div>
    </main>



</body>
<footer>
    <%- include('../partials/footer'); %>
</footer>

</html>